<div class="list-info">
  <div class="info-item">
    <h2 class="widget-title">Trò chơi dân gian là gì?</h2>
    <div class="textwidget">
      <p>Trò chơi dân gian nói một cách đơn giản là những trò chơi mô phỏng lại sinh hoạt thường ngày của người dân Việt
        Nam
        ta. Và dựa trên sự sáng tạo, làm mới của mọi người nhằm có thể cho ra một trò chơi gắn liền với truyền thống của
        dân
        tộc. Thông thường, các hình ảnh được xuất hiện trong những trò chơi dân gian thường tái hiện lại cuộc sống
        thường
        ngày của mọi người và kết hợp với các giai điệu êm tai, câu ca dao hấp dẫn tăng thêm sự thú vị cho mỗi trò chơi.
        Đồng thời, các trò chơi dân gian cũng mang đậm dấu ấn lịch sử, văn hóa của người dân Việt Nam.</p>
      <img
        src="https://cdn.tgdd.vn//GameApp/-1//tro-choi-dan-gian-la-gi-nguon-goc-lich-su-tro-choi-dan-gian-5-800x450.jpg"
        height="200"
        width="300">
    </div>

  </div>
  <div class="info-item">
    <h2 class="widget-title">Đặc điểm của trò chơi dân gian</h2>
    <div class="textwidget">
      <p>Trò chơi dân gian là một trò chơi mang một nét đẹp văn hóa của dân tộc ta, chúng không chỉ thể hiện sự lành
        mạnh,
        văn minh mà còn giúp các người chơi phát huy sự linh hoạt, nhanh nhạy và cách xử lý vấn đề thông minh hơn. Trò
        chơi dân gian còn được xem là hội tụ đầy đủ các tính nghệ thuật trong mỗi trò chơi. Thêm vào đó, các trò chơi
        dân
        gian cũng phù hợp với nhiều đối tượng lứa tuổi từ trẻ con, trai gái đến những người trung niên hoặc người lớn
        tuổi. Và cũng chính sự đa dạng về đối tượng chơi mà trò chơi dân gian đã tạo nên một nét đẹp trong nền văn hóa
        của
        truyền thống Việt Nam. Ngoài ra, thông thường các trò chơi dân gian cũng được đi kèm với những câu hát đồng dao,
        ca dao. Chính điều này đã tăng thêm tính nhịp điệu để giúp trẻ em hoặc người chơi có thể nhớ kỹ và dễ dàng học
        thuộc lòng những câu thơ dân gian.</p>
      <img
        src="https://cdn.tgdd.vn//GameApp/-1//tro-choi-dan-gian-la-gi-nguon-goc-lich-su-tro-choi-dan-gian-6-800x450.jpg"
        height="200"
        width="300">
    </div>
  </div>
  <div class="info-item">
    <h2 class="widget-title">Một số trò chơi dân gian phổ biến ở Việt Nam</h2>
    <div class="textwidget">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bịt mắt bắt dê</li>
        <li class="list-group-item">Kéo co</li>
        <li class="list-group-item">Rồng rắn lên mây</li>
        <li class="list-group-item">Cờ gánh, cờ chém</li>
      </ul>
      <img
        src="https://cdn.tgdd.vn//GameApp/-1//tro-choi-dan-gian-la-gi-nguon-goc-lich-su-tro-choi-dan-gian-7-800x450.jpg"
        height="200"
        width="300">
    </div>
  </div>
</div>
