<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
<!--  <mat-tab label="Bài viết phổ biến">-->
<!--    <mat-grid-list cols="10" rowHeight="1500px">-->
<!--      <mat-grid-tile style="position: relative" [colspan]="7">-->
<!--        <app-card class="d-flex justify-content-center"></app-card>-->
<!--      </mat-grid-tile>-->
<!--      <mat-grid-tile [colspan]="3">-->
<!--        <app-list-info></app-list-info>-->
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--  </mat-tab>-->
  <mat-tab label="Bài viết phổ biến">
    <div class="post-content">
      <div class="content posted">
        <app-card class="d-flex justify-content-center"></app-card>
      </div>
      <div class="content list-post">
        <app-list-info></app-list-info>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Bài viết mới nhất">
    <app-new-post></app-new-post>
  </mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
